#main-nav{
    background:#F5D100;
    position:sticky;
    top:0;
    z-index:2;
}

#main-nav .container{
    display:grid;
    grid-template-columns: 6fr 3fr 2fr;
    padding:4px;
    align-items:center;
}

#main-nav .logo{
    width:100px;
    height: 75px;
}

#main-nav ul{
    list-style:none;
    justify-self:end;
    display:flex;
   
}

#main-nav ul li button{
    position: absolute;
    right:200px;
    background-color:#F9ED69;
    color: black;
    padding-inline:1.5rem;
    padding-block: 1rem;
    font-weight:bold;
    border-radius: 14px;
    text-decoration: none;
    
}

#main-nav ul li button:hover{
    background:black;
    color:#F9ED69;
}

